<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Attributen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/attributen_style.css" />
    </head>
    <body>
        <div>
            <table class="users">
                <caption>gebruikersgegevens</caption>
                <thead>
                    <tr>
                        <th>userID</th>
                        <th>username</th>
                        <th>password</th>
                        <th>email</th>
                        <th>sex</th>
                        <th>birthDate</th>
                        <th>preference</th>
                        <th>hairColor</th>
                        <th>length</th>
                        <th>build</th>
                        <th>eyeColor</th>
                        <th>oneNight</th>
                        <th>longTerm</th>
                        <th>friends</th>
                        <th>bio</th>
                        <th>region</th>
                        <th>postcode</th>
                        <th>occupation</th>
                        <th>smoker</th>
                        <th>admin</th>
                    </tr>
                </thead>
                <tbody>
                  {% for user in userList %}
                    <tr>
                        <td>{{user.userID}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.sex}}</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>

            <table class="events">
                <caption>events</caption>
                <thead>
                    <tr>
                        <th>eventID</th>
                        <th>eventDate</th>
                        <th>eventName</th>
                        <th>venueID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div>
            <table class="venues">
                <caption>venues</caption>
                <thead>
                    <tr>
                        <th>venueID</th>
                        <th>venueName</th>
                        <th>venueCity</th>
                        <th>venueStreet</th>
                        <th>venueStreetNR</th>
                        <th>venueCapacity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table class="eventtypes">
                <caption>eventypes</caption>
                <thead>
                    <tr>
                        <th>eventName</th>
                        <th>evntDescription</th>
                        <th>evntPrice</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>g</td>
                        <td>g</td>
                        <td>g</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </body>
</html>
