<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Attributen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/attributen_style.css" />
    </head>
    <body>
        <div>
            <table class="users">
                <caption>gebruikersgegevens</caption>
                <thead>
                    <tr>
                        <th>userID</th>
                        <th>username</th>
                        <th>password</th>
                        <th>email</th>
                        <th>sex</th>
                        <th>birthDate</th>
                        <th>preference</th>
                        <th>hairColor</th>
                        <th>length</th>
                        <th>build</th>
                        <th>eyeColor</th>
                        <th>oneNight</th>
                        <th>longTerm</th>
                        <th>friends</th>
                        <th>bio</th>
                        <th>region</th>
                        <th>postcode</th>
                        <th>occupation</th>
                        <th>smoker</th>
                        <th>admin</th>
                    </tr>
                </thead>
                <tbody>
                  {% for user in userList %}
                    <tr>
                      <td><a href='adminControl.php?user={{user.userID}}' alt='Profile van user ID {{user.username}}'>{{user.userID}}</a></td>
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.sex}}</td>
                        <td>{{user.birthDate}}</td>
                        <td>{{user.preference}}</td>
                        <td>{{user.hairColor}}</td>
                        <td>{{user.length}}</td>
                        <td>{{user.build}}</td>
                        <td>{{user.eyeColor}}</td>
                        <td>{{user.oneNight}}</td>
                        <td>{{user.longTerm}}</td>
                        <td>{{user.friends}}</td>
                        <td>{{user.bio}}</td>
                        <td>{{user.region}}</td>
                        <td>{{user.postcode}}</td>
                        <td>{{user.occupation}}</td>
                        <td>{{user.smoker}}</td>
                        <td>{{user.admin}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>

            <table class="events">
                <caption>events</caption>
                <thead>
                    <tr>
                        <th>eventID</th>
                        <th>eventDate</th>
                        <th>eventName</th>
                        <th>venueID</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                  {% for event in eventList %}
                    <tr>
                      <td><a href="adminControl.php?event={{event.evntID}}" alt="Details van event {{event.evntID}}">{{event.evntID}}</a></td>
                      <td>{{event.evntDate|date("d/m/Y")}}</td>
                        <td>{{event.evntType.evntName}}</td>
                        <td>{{event.venue.venueID}}</td>
                        <td><a href="adminControl.php?deleteEvent={{event.evntID}}" alt="Delete event {{event.evntID}}">Delete event</a></td>
                    </tr>                  
                    {% endfor %}
                    <tr><td colspan="4"><a href="adminControl.php?new=event">New Event</a><td></tr>
                </tbody>
            </table>

        </div>
        <div>
            <table class="venues">
                <caption>venues</caption>
                <thead>
                    <tr>
                        <th>venueID</th>
                        <th>venueName</th>
                        <th>venueCity</th>
                        <th>venueStreet</th>
                        <th>venueStreetNR</th>
                        <th>venueCapacity</th>
                    </tr>
                </thead>
                <tbody>
                  {% for venue in venueList %}
                    <tr>
                      <td><a href="adminControl.php?venue={{venue.venueID}}" alt="Details van venue {{venue.venueName}}">{{venue.venueID}}</a></td>
                        <td>{{venue.venueName}}</td>
                        <td>{{venue.venueCity}}</td>
                        <td>{{venue.venueStreet}}</td>
                        <td>{{venue.venueStreetNR}}</td>
                        <td>{{venue.venueCapacity}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <table class="eventtypes">
                <caption>eventypes</caption>
                <thead>                 
                    <tr>
                        <th>eventName</th>
                        <th>evntDescription</th>
                        <th>evntPrice</th>
                    </tr>
                </thead>
                <tbody>
                   {% for eventType in eventTypeList %}
                    <tr>
                      <td><a href="adminControl.php?eventType={{eventType.evntName}}" alt="Details van event type {{eventType.evntName}}">{{eventType.evntName}}</a></td>
                        <td>{{eventType.evntDescription}}</td>
                        <td>{{eventType.evntPrice}}</td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>

        </div>
    </body>
</html>
