<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png"  href="images/icons/favicon.png">
        <link rel="stylesheet" href="css/style.css" />
        <title>Uw Westvloamse datingsite</title>
    </head>

  <body>
<header class="headerImage">
            <div class="login clearFix">
                {% if login == false %}
                  <form action="loginControl.php" method="post" class="login" id="registreer" name="registreer">                                              
                    <div class="login clearFix"><input type="submit" value="registreer" name="registreer"/></div>
                </form>
                <form action="loginControl.php" method="post" class="login" id="login" name="login">
                    <label for="username">gebruikersnaam :<input type="text" id="username" name="username"></label>
                    <label for="password">wachtwoord :<input type="password" id="password" name="password"></label>                               
                    <input type="submit" value="login" name="login" />
                </form>
                
                {% else %}
                  <p>Gebruiker: <a href="loginControl.php?profile={{login.userID}}" alt="Mijn profiel pagine">{{login.username}}</a></p>
                  {% if login.admin == 1 %}
                  <p><a href="showAllAttributes.php" alt="Admin controls">Admin Console</a></p>
                  {% endif %}
                {% endif %}              
            </div>

            <h1><span>Losse Flodders</span></h1>
            <p>Westvlaamse datingsite</p>

            <nav class="hoofdmenu clearFix">
                <ul>
                    <li><a href="Index.php" id="a"><p>Home</p></a></li>
                    <li><a href="loginControl.php?profile={{login.userID}}" id="b" alt="profiel" title="profiel"><p>Profiel</p></a></li>
                    <li><a href="#" id="c"><p>Matchen</p></a></li>
                    <li><a href="eventControl.php?action=showEvents" id="d"><p>Events</p></a></li>
                </ul>
            </nav>
        </header>
    <div class="inhoud clearFix">


            

            <div class="container">
                
                    <h1>Profiel Aanmaak</h1>
                    <form action="{{target}}" method="post" class="profielForm" id="profileData" name="profileData">
                        <div class="usernameForm">
                            <label for="username" >Userame:</label>
                            <input type="text" id="username" name="username" title="username" value='{{user.username}}' placeholder="">

                        </div>
                        <div>
                            <label for="password">Password:</label>
                            <input type="text" id="password" name="password" title="password" value="{{user.password}}">
                        </div>
                        <div>
                            <span>E-mail:</span>
                            <input type="email" id="email" name="email" title="email" value="{{user.email}}">
                        </div>
                        
                        <div>
                            <label for ="sex" class="verplicht">Geslacht:</label>
                            <select id="sex" name="sex">
                                <option value="m">Man</option>
                                <option value="f">Vrouw</option>
                                <option value="o">Anders</option>
                            </select>
                        </div>
                        <div>
                            <label for="birthDate">Geboorte Datum:</label>
                            <input type="date" id="birthDate" name="birthDate" title="Geboorte Datum 1956-12-31">
                        </div>
                        
                        <div>
                            <label for ="preference" class="verplicht">Voorkeur:</label>
                            <select id="preference" name="preference">
                                <option value="m">Man</option>
                                <option value="f">Vrouw</option>
                                <option value="a">Man & Vrouw</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for ="hairColor" class="verplicht">Haar Kleur:</label>
                            <select class="form-control" id="hairColor" name="hairColor" required>
                                <option value="Kaal">Kaal</option>
                                <option value="Bruin">Bruin</option>
                                <option value="Blond">Blond</option>
                                <option value="Grijs">Grijs</option>
                                <option value="Zwart">Zwart</option>
                            </select>
                        </div>
                        <div>
                                <label for ="eyeColor" class="verplicht">Oog Kleur:</label>
                                <select id="eyeColor" name="eyeColor" required>
                                    <option value="Blauw">Blauw</option>
                                    <option value="Bruin">Bruin</option>
                                    <option value="Groen">Groen</option>
                                   
                                </select>
                            </div>
                        <div>
                            <label for="length" class="verplicht">Lengte:</label>
                            <input type="number" id="length" name="length" required/>
                        </div>
                        <div>
                            <label for ="build" class="verplicht">Figuur:</label>
                            <select id="build" name="build" required>
                                <option value="mager">Mager</option>
                                <option value="slank">Slank</option>
                                <option value="gespierd">Gespierd</option>
                                <option value="bigboned">Big Boned</option>
                                <option value="muffintop">Muffin Top</option>
                            </select>
                        </div>
                        
                        <div class="relationship">
                            <label>Soort Relatie:</label>
                            <label for="friends" class="labelcheckbox labellook"><input type="checkbox" id="friends" name="friends" value="1">Vriendschap</label>
                            <label for="oneNight" class="labelcheckbox labellook"><input type="checkbox" id="oneNight" name="oneNight" value="1">One-night Stand</label>
                            <label for="longTerm" class="labelcheckbox labellook"><input type="checkbox" id="longTerm" name="longTerm" value="1">Lange termijn</label>
                        </div>
                        
                        <div class="formalign">
                            <label for="bio">Bio:</label>
                            <textarea id="bio" name="bio" title="bio"></textarea>
                        </div>
                        <div>
                            <label for="postcode" class="verplicht">Postcode:</label>
                            <input type="number" id="postcode" name="postcode"/>
                        </div>
                        <div>
                                <label for ="region" class="verplicht labellook">Regio:</label>
                                <select id="region" name="region">
                                    <option value="oostkust">Oostkust</option>
                                    <option value="westkust">Westkust</option>
                                    <option value="middenkust">Middenkust</option>
                                </select>
                            </div>
                        <div>
                            <label for ="occupation" class="verplicht labellook">Beroep:</label>
                            <select id="occupation" name="occupation">
                                <option value="student">Student</option>
                                <option value="ik doe niet veel">ik doe niet veel</option>
                                <option value="kelner">Kelner</option>
                                <option value="werknemer">Werknemer</option>
                                <option value="werkgever">Werkgever</option>
                            </select>
                        </div>
                        <div>
                            <label for ="smoker" class="verplicht">Ben je een roker?</label>
                            <select id="smoker" name="smoker">
                                <option value="1">Ja</option>
                                <option value="0">Nee</option>
                            </select>
                        </div>            
                        <div>
                            <input type="submit" value="Add" name="addUser"/>            
                        </div>
                    </form>
                
            </div>

            <section class="balkRechts">
                <h1></h1>
            </section>


        </div>

        <footer class="hoofdFooter">
            <p><span>This project is build by Jordy, Wouter, Gregory and Micha &COPY; 2016</span></p>
        </footer>
    </body>
</html>
