<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png"  href="images/icons/favicon.png">
        <link rel="stylesheet" href="css/style.css" />
        <title>Uw Westvloamse datingsite</title>
    </head>

    <body>
        <header class="headerImage">
            <div class="login clearFix">
                <form action="login.html" method="post" class="login" id="login" name="login">
                    <label for="username">gebruikersnaam :<input type="text" id="username" name="username"></label>
                    <label for="password">wachtwoord :<input type="password" id="password" name="password"></label>
                </form>
            </div>

            <h1><span>Losse Flodders</span></h1>
            <p>Westvlaamse datingsite</p>

            <nav class="hoofdmenu clearFix">
                <ul>
                    <li><a href="index.twig" id="a"><p>Menu</p></a></li>
                    <li><a href="profielaanmaak.twig" id="b" alt="profiel" title="profiel"><p>Profiel</p></a></li>
                    <li><a href="#" id="c"><p>Matchen</p></a></li>
                    <li><a href="#" id="d"><p>Instellingen</p></a></li>
                </ul>
            </nav>

        </header>



        <div class="inhoud clearFix">

            <section class="balkLinks">
                <h1></h1>
            </section>
            
            <div class="midden">
                <fieldset class="vast">
                    <h1>Profiel Aanmaak</h1>
                        <form action="profiel.html" method="post" class="profielForm" id="profileData" name="profileData">
                            <div>
                                <label for="userID">User ID:</label>
                                <input type="number" id="userID" name="userID" title="Hier is je userID" placeholder="{{user.userID}}">
                                </select>
                            </div>
                            <div>
                                <label for="username" >User Name:</label>
                                <input type="text" id="username" name="username"
                                       title="username" placeholder="{{user.username}}">
                            </div>
                            <div>
                                <label for="password" >Password:</label>
                                <input type="text" id="password" name="password"
                                       title="password" placeholder="{{user.password}}">
                            </div>
                            <div>
                                <span>Geslacht</span>
                                <label for="sex" class="labelradio labellook"><input type="radio" id="sex" name="sex" value="m" {% if user.sex == 'm' %} checked="checked" {% endif %}/>Man</label>
                                <label for="sex" class="labelradio labellook"><input type="radio" id="sex" name="sex" value="f" {% if user.sex == 'f' %} checked="checked" {% endif %}/>Vrouw</label>
                                <label for="sex" class="labelradio labellook"><input type="radio" id="sex" name="sex" value="o" {% if user.sex == 'o' %} checked="checked" {% endif %}/>Anders</label>
                            </div>
                            <div>
                                <label for="birthDate">Geboorte Datum:</label>
                                <input type="date" id="birthDate" name="birthDate" title="Geboorte Datum 1956-12-31" placeholder="{{user.bithDate}}">
                            </div>
                            <div>
                                <span>Preference</span>
                                <label for="preference" class="labelradio labellook"><input type="radio" id="preference" name="preference" value="m" {% if user.preference == 'm' %} checked="checked" {% endif %}/>Man</label>
                                <label for="preference" class="labelradio labellook"><input type="radio" id="preference" name="preference" value="f" {% if user.preference == 'f' %} checked="checked" {% endif %}/>Vrouw</label>
                                <label for="preference" class="labelradio labellook"><input type="radio" id="preference" name="preference" value="a" {% if user.preference == 'a' %} checked="checked" {% endif %}/>Man & Vrouw</label>
                            </div>
                            <div>
                                <label for="hairColor" >hairColor:</label>
                                <input type="text" id="hairColor" name="hairColor"
                                       title="hairColor" placeholder="{{user.hairColor}}">
                            </div>
                            <div>
                                <label for="length" class="verplicht labellook">Lengte</label>
                                <input type="number" id="length" name="lenght" placeholder="{{user.length}}" required/>
                            </div>
                            <div>
                                <label for ="build" class="verplicht labellook">Figuur</label>
                                <select id="build" name="build" required>
                                    <option value="mager">Mager</option>
                                    <option value="slank">Slank</option>
                                    <option value="gespierd">Gespierd</option>
                                    <option value="bigboned">Big Boned</option>
                                    <option value="muffintop">Muffin Top</option>
                                </select>
                            </div>
                            <div>
                                <label for="eyeColor">Oog Kleur:</label>
                                <input type="text" id="eyeColor" name="eyeColor" title="eyeColor" placeholder="{{user.eyeColor}}">
                                </select>
                            </div>
                            <div>
                                <label>Soort relatie</label>
                                <label for="friends" class="labelcheckbox labellook"><input type="checkbox" id="friends" name="friends" value="1" {% if user.friends == '1' %} checked="checked" {% endif %}>Vriendschap</label>
                                <label for="oneNight" class="labelcheckbox labellook"><input type="checkbox" id="oneNight" name="oneNight" value="1" {% if user.oneNight == '1' %} checked="checked" {% endif %}>One night stand</label>
                                <label for="longTerm" class="labelcheckbox labellook"><input type="checkbox" id="longTerm" name="longTerm" value="1"{% if user.longTerm == '1' %} checked="checked" {% endif %}>Lange termijn</label>
                            </div>
                            <div>
                                <label for="bio">Bio:</label>
                                <textarea id="bio" name="bio" title="bio" placeholder="{{user.bio}}"></textarea>
                            </div>
                            <div>
                                <label for="postcode" class="verplicht labellook">Lengte</label>
                                <input type="number" id="postcode" name="postcode" placeholder="{{user.postcode}}"/>
                            </div>
                            <div>
                                <label for="region" >Regio:</label>
                                <input type="text" id="region" name="region" title="region" placeholder="{{user.region}}">
                            </div>
                            <div>
                                <label for ="occupation" class="verplicht labellook">Occupation</label>
                                <select id="occupation" name="occupation" placeholder="{{user.occupation}}">
                                    <option value="student" {% if user.occupation == 'student' %} selected="selected" {% endif %}>student</option>
                                    <option value="ik doe niet veel"{% if user.occupation == 'ik doe niet veel' %} selected="selected" {% endif %}>ik doe niet veel</option>
                                    <option value="kelner"{% if user.occupation == 'kelner' %} selected="selected" {% endif %}>kelner</option>
                                    <option value="werknemer"{% if user.occupation == 'werknemer' %} selected="selected" {% endif %}>werknemer</option>
                                    <option value="werkgever"{% if user.occupation == 'werkgever' %} selected="selected" {% endif %}>werkgever</option>
                                </select>
                            </div>
                            <div>
                                <span>Roker</span>
                                <label for="smoker" class="labelradio labellook"><input type="radio" id="smoker" name="smoker" value="1" {% if user.smoker == '1' %} checked="checked" {% endif %}/>Ja</label>
                                <label for="smoker" class="labelradio labellook"><input type="radio" id="smoker" name="smoker" value="0" {% if user.smoker == '0' %} checked="checked" {% endif %}/>Nee</label>
                            </div>
                            <div>
                                <span>Admin</span>
                                <label for="admin" class="labelradio labellook"><input type="radio" id="admin" name="admin" value="1" {% if user.admin == '1' %} checked="checked" {% endif %}/>Ja</label>
                                <label for="admin" class="labelradio labellook"><input type="radio" id="admin" name="admin" value="0" {% if user.admin == '0' %} checked="checked" {% endif %}/>Nee</label>
                            </div>
                        </form>
                </fieldset>
            </div>

            <section class="balkRechts">
                <h1></h1>
            </section>


        </div>

        <footer class="hoofdFooter">
            <p><span>This project is build by Jordi, Wouter, Gregory and Micha &COPY; 2016</span></p>
        </footer>
    </body>
</html>
