<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png"  href="images/icons/favicon.png">
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet"  href="css/bootstrap-3.3.6-dist/css/bootstrap.min.css">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="../bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
        <title>Uw Westvloamse datingsite</title>
    </head>

    <body>
<header class="headerImage">
            <div class="login clearFix">
                {% if login == false %}
                  <form action="loginControl.php" method="post" class="login" id="registreer" name="registreer">                                              
                    <div class="login clearFix"><input type="submit" value="registreer" name="registreer"/></div>
                </form>
                <form action="loginControl.php" method="post" class="login" id="login" name="login">
                    <label for="username">gebruikersnaam :<input type="text" id="username" name="username"></label>
                    <label for="password">wachtwoord :<input type="password" id="password" name="password"></label>                               
                    <input type="submit" value="login" name="login" />
                </form>
                
                {% else %}
                  <p>Gebruiker: <a href="loginControl.php?profile={{login.userID}}" alt="Mijn profiel pagine">{{login.username}}</a></p>
                  {% if login.admin == 1 %}
                  <p><a href="showAllAttributes.php" alt="Admin controls">Admin Console</a></p>
                  {% endif %}
                {% endif %}              
            </div>

            <h1><span>Losse Flodders</span></h1>
            <p>Westvlaamse datingsite</p>

            <nav class="hoofdmenu clearFix">
                <ul>
                    <li><a href="Index.php" id="a"><p>Home</p></a></li>
                    <li><a href="loginControl.php?profile={{login.userID}}" id="b" alt="profiel" title="profiel"><p>Profiel</p></a></li>
                    <li><a href="#" id="c"><p>Matchen</p></a></li>
                    <li><a href="eventControl.php?action=showEvents" id="d"><p>Events</p></a></li>
                </ul>
            </nav>
        </header>
        <div class="inhoud clearFix">
            <section class="balkLinks">
                <h1></h1>
            </section>
            
            <div class="midden">
                <fieldset class="vast">
                    <h1>Profiel Wijzigen</h1>
                        <form action="{{target}}" method="post" class="profielForm" id="profileData" name="profileData">
                            <div>
                                <input type="number" id="userID" name="userID" title="Hier is je userID" value="{{user.userID}}" hidden>                               
                            </div>
                            <div>
                                <label for="username" >User Name:</label>
                                <input type="text" id="username" name="username" title="username" value="{{user.username}}">
                            </div>
                            <div>
                                <label for="password" >Password:</label>
                                <input type="text" id="password" name="password" title="password" value="{{user.password}}">
                            </div>
                            <div>
                              <span>email</span>
                              <input type="email" id="email" name="email" title="email" value="{{user.email}}">
                            </div>
                            <div>
                                <span>Geslacht</span>
                                <label for="sex" class="labelradio labellook"><input type="radio" id="sex" name="sex" value="m" {% if user.sex == 'm' %} checked="checked" {% endif %}/>Man</label>
                                <label for="sex" class="labelradio labellook"><input type="radio" id="sex" name="sex" value="f" {% if user.sex == 'f' %} checked="checked" {% endif %}/>Vrouw</label>
                                <label for="sex" class="labelradio labellook"><input type="radio" id="sex" name="sex" value="o" {% if user.sex == 'o' %} checked="checked" {% endif %}/>Anders</label>
                            </div>
                            <div>
                                <label for="birthDate">Geboorte Datum:</label>
                                <input type="date" id="birthDate" name="birthDate" title="Geboorte Datum 1956-12-31" value="{{user.birthDate}}">
                            </div>
                            <div>
                                <span>Preference</span>
                                <label for="preference" class="labelradio labellook"><input type="radio" id="preference" name="preference" value="m" {% if user.preference == 'm' %} checked="checked" {% endif %}/>Man</label>
                                <label for="preference" class="labelradio labellook"><input type="radio" id="preference" name="preference" value="f" {% if user.preference == 'f' %} checked="checked" {% endif %}/>Vrouw</label>
                                <label for="preference" class="labelradio labellook"><input type="radio" id="preference" name="preference" value="a" {% if user.preference == 'a' %} checked="checked" {% endif %}/>Man & Vrouw</label>
                            </div>
                            <div class="form-group">
                                <label for ="hairColor" class="verplicht labellook">Hair Color</label>
                                <select class="form-control" id="hairColor" name="hairColor" required>
                                    <option value="Kaal" {% if user.hairColor == "Kaal" %} selected="selected" {% endif %}>Kaal</option>
                                    <option value="Bruin"{% if user.hairColor == "Bruin" %} selected="selected" {% endif %}>Bruin</option>
                                    <option value="Blond"{% if user.hairColor == "Blond" %} selected="selected" {% endif %}>Blond</option>
                                    <option value="Grijs"{% if user.hairColor == "Grijs" %} selected="selected" {% endif %}>Grijs</option>
                                    <option value="Zwart"{% if user.hairColor == "Zwart" %} selected="selected" {% endif %}>Zwart</option>
                                </select>
                            </div>
                            <div>
                                <label for="length" class="verplicht labellook">Lengte</label>
                                <input type="number" id="length" name="length" value="{{user.length}}" required/>
                            </div>
                            <div>
                                <label for ="build" class="verplicht labellook">Figuur</label>
                                <select id="build" name="build" required>
                                    <option value="mager" {% if user.build == "mager" %} selected="selected" {% endif %}>Mager</option>
                                    <option value="slank"{% if user.build == "slank" %} selected="selected" {% endif %}>Slank</option>
                                    <option value="gespierd"{% if user.build == "gespierd" %} selected="selected" {% endif %}>Gespierd</option>
                                    <option value="bigboned"{% if user.build == "bigboned" %} selected="selected" {% endif %}>Big Boned</option>
                                    <option value="muffintop"{% if user.build == "muffintop" %} selected="selected" {% endif %}>Muffin Top</option>
                                </select>
                            </div>
                            <div>
                                <label for ="eyeColor" class="verplicht labellook">Eye Color</label>
                                <select id="eyeColor" name="eyeColor" required>
                                    <option value="Blauw" {% if user.eyeColor == "Blauw" %} selected="selected" {% endif %}>Blauw</option>
                                    <option value="Bruin"{% if user.eyeColor == "Bruin" %} selected="selected" {% endif %}>Bruin</option>
                                    <option value="Groen"{% if user.eyeColor == "Groen" %} selected="selected" {% endif %}>Groen</option>
                                   
                                </select>
                            </div>
                            <div>
                                <label>Soort relatie</label>
                                <label for="friends" class="labelcheckbox labellook"><input type="checkbox" id="friends" name="friends" value="1" {% if user.friends == '1' %} checked="checked" {% endif %}>Vriendschap</label>
                                <label for="oneNight" class="labelcheckbox labellook"><input type="checkbox" id="oneNight" name="oneNight" value="1" {% if user.oneNight == '1' %} checked="checked" {% endif %}>One night stand</label>
                                <label for="longTerm" class="labelcheckbox labellook"><input type="checkbox" id="longTerm" name="longTerm" value="1"{% if user.longTerm == '1' %} checked="checked" {% endif %}>Lange termijn</label>
                            </div>
                            <div>
                                <label for="bio">Bio:</label>
                                <textarea id="bio" name="bio" title="bio">{{user.bio}}</textarea>
                            </div>
                            <div>
                                <label for="postcode" class="verplicht labellook">Postcode</label>
                                <input type="number" id="postcode" name="postcode" value="{{user.postcode}}"/>
                            </div>
                            <div>
                                <label for ="region" class="verplicht labellook">Regio:</label>
                                <select id="region" name="region">
                                    <option value="oostkust" {% if user.region == 'oostkust' %} selected="selected" {% endif %}>oostkust</option>
                                    <option value="westkust"{% if user.region == 'westkust' %} selected="selected" {% endif %}>westkust</option>
                                    <option value="middenkust"{% if user.region == 'middenkust' %} selected="selected" {% endif %}>middenkust</option>
                                </select>
                            </div>
                            <div>
                                <label for ="occupation" class="verplicht labellook">Occupation</label>
                                <select id="occupation" name="occupation">
                                    <option value="student" {% if user.occupation == 'student' %} selected="selected" {% endif %}>student</option>
                                    <option value="ik doe niet veel"{% if user.occupation == 'ik doe niet veel' %} selected="selected" {% endif %}>ik doe niet veel</option>
                                    <option value="kelner"{% if user.occupation == 'kelner' %} selected="selected" {% endif %}>kelner</option>
                                    <option value="werknemer"{% if user.occupation == 'werknemer' %} selected="selected" {% endif %}>werknemer</option>
                                    <option value="werkgever"{% if user.occupation == 'werkgever' %} selected="selected" {% endif %}>werkgever</option>
                                </select>
                            </div>
                            <div>
                                <span>Roker</span>
                                <label for="smoker" class="labelradio labellook"><input type="radio" id="smoker" name="smoker" value="1" {% if user.smoker == '1' %} checked="checked" {% endif %}/>Ja</label>
                                <label for="smoker" class="labelradio labellook"><input type="radio" id="smoker" name="smoker" value="0" {% if user.smoker == '0' %} checked="checked" {% endif %}/>Nee</label>
                            </div>
                            <div>
                                <span>Admin</span>
                                <label for="admin" class="labelradio labellook"><input type="radio" id="admin" name="admin" value="1" {% if user.admin == '1' %} checked="checked" {% endif %}/>Ja</label>
                                <label for="admin" class="labelradio labellook"><input type="radio" id="admin" name="admin" value="0" {% if user.admin == '0' %} checked="checked" {% endif %}/>Nee</label>
                            </div>
                            <div>
            <input type="submit" Value="Update" name="updateUser"/>
          </div>
                        </form>
                </fieldset>
            </div>

            <section class="balkRechts">
                <h1></h1>
            </section>


        </div>

        <footer class="hoofdFooter">
            <p><span>This project is build by Jordi, Wouter, Gregory and Micha &COPY; 2016</span></p>
        </footer>
    </body>
</html>

