<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png"  href="images/icons/favicon.png">
        <link rel="stylesheet" href="css/style.css" />
        <title>Uw Westvloamse datingsite</title>
    </head>

    <body>
<header class="headerImage">
            <div class="login clearFix">
                {% if login == false %}
                  <form action="loginControl.php" method="post" class="login" id="registreer" name="registreer">                                              
                    <div class="login clearFix"><input type="submit" value="registreer" name="registreer"/></div>
                </form>
                <form action="loginControl.php" method="post" class="login" id="login" name="login">
                    <div><label for="username">gebruikersnaam :</label><input type="text" id="username" name="username"></div>
                    <div><label for="password">wachtwoord :</label><input type="password" id="password" name="password"></div>                               
                    <div><input type="submit" value="login" name="login" /></div>
                </form>
                
                {% else %}
                  <p>Gebruiker: <a href="loginControl.php?profile={{login.userID}}" alt="Mijn profiel pagine">{{login.username}}</a></p>
                  {% if login.admin == 1 %}
                  <p><a href="showAllAttributes.php" alt="Admin controls">Admin Console</a></p>
                  {% endif %}
                {% endif %}              
            </div>

            <h1><span>Losse Flodders</span></h1>
            <p>Westvlaamse datingsite</p>

            <nav class="hoofdmenu clearFix">
                <ul>
                    <li><a href="Index.php" id="a"><p>Home</p></a></li>
                    <li><a href="loginControl.php?profile={{login.userID}}" id="b" alt="profiel" title="profiel"><p>Profiel</p></a></li>
                    <li><a href="#" id="c"><p>Matchen</p></a></li>
                    <li><a href="eventControl.php?action=showEvents" id="d"><p>Events</p></a></li>
                </ul>
            </nav>
        </header>
        <div class="inhoud clearFix">

            <section class="balkLinks blok">
                    <h4>Contacten</h4>
                    <div class="contact cf clearFix">
                        <img src="images/pictures/maleAvatar.svg"/>
                        <div class="">
                            <h5>{{login.username}}</h5>
                        </div>
                    </div>
                    <div class="contact cf clearFix">
                        <img src="images/pictures/femaleAvatar.svg"/>
                        <div class="">
                            <h5>{{login.username}}</h5>
                        </div>
                    </div>
                    <div class="contact cf clearFix">
                        <img src="images/pictures/femaleAvatar.svg"/>
                        <div class="">
                            <h5>{{login.username}}</h5>
                        </div>
                    </div>
                    <div class="contact cf clearFix">
                        <img src="images/pictures/maleAvatar.svg"/>
                        <div class="">
                            <h5>{{login.username}}</h5>
                        </div>
                    </div>
            </section>

            <div class="midden">
                <div class="userprofiel clearFix">

                    <img src="images/pictures/femaleAvatar.svg"/>
                    <div class="gegevens ">
                        <h2>{{login.username}}</h2>
                        <p>{{login.region}}</p>
                    </div>
                    <div class="wijzigLinks ">
                        <a href="#"><input type="submit" value="Wijzig profiel"/></a>
                        <a href="#"><input type="submit" value="Wijzig events"/></a>
                    </div>
                </div>
                    
                <div class="blok">
                    <h2>Berichten</h2>
                    <div class="bericht contact">
                        <img src="images/pictures/femaleAvatar.svg"/>
                        <h5>{{login.username}}</h5>
                        <ul class="itemDisplay cf ">      
                            <li>{{login.bericht}}</li>
                        </ul>
                    </div>
                    <div class="bericht contact">
                        <img src="images/pictures/maleAvatar.svg"/>
                        <h5>{{login.username}}</h5>
                        <ul class="itemDisplay cf">      
                            <li>{{login.bericht}}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <section class="balkRechts">
                <div class="blok">
                    <h4>ingeschreven voor events</h4>
                        <ul class="itemDisplay">
                            <li>{{event.eventName}}</li>
                            <li>{{event.eventDate}}</li>
                            <li>{{venue.venueCity}}</li>
                        </ul>
                        <ul class="itemDisplay">
                            <li>{{event.eventName}}</li>
                            <li>{{event.eventDate}}</li>
                            <li>{{venue.venueCity}}</li>
                        </ul>  
                </div>
            <div class="event blok">
                    <img src="images/pictures/event_balk.jpg"/>
                           <ul class="itemDisplay">
                            <li>{{event.eventName}}</li>
                            <li>{{event.eventDate}}</li>
                            <li>{{venue.venueCity}}</li>
                        </ul>
                        <ul class="itemDisplay">
                            <li>{{event.eventName}}</li>
                            <li>{{event.eventDate}}</li>
                            <li>{{venue.venueCity}}</li>
                        </ul>  
            </div>
            </section>


        </div>

        <footer class="hoofdFooter">
            <p><span>This project was built by Jordy, Wouter, Gregory and Micha &COPY; 2016</span></p>
        </footer>
    </body>
</html>
