<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png"  href="images/icons/favicon.png">
        <link rel="stylesheet" href="css/style.css" />
        <title>Uw Westvloamse datingsite</title>
    </head>

    <body>
        <header class="headerImage">
            <div class="login clearFix">
                <form action="login.html" method="post" class="login" id="login" name="login">
                    <label for="username">gebruikersnaam :<input type="text" id="username" name="username"></label>
                    <label for="password">wachtwoord :<input type="password" id="password" name="password"></label>
                </form>
            </div>

            <h1><span>Losse Flodders</span></h1>
            <p>Westvlaamse datingsite</p>

            <nav class="hoofdmenu clearFix">
                <ul>
                    <li><a href="index.twig" id="a"><p>Menu</p></a></li>
                    <li><a href="profielaanmaak.twig" id="b" alt="profiel" title="profiel"><p>Profiel</p></a></li>
                    <li><a href="#" id="c"><p>Matchen</p></a></li>
                    <li><a href="#" id="d"><p>Instellingen</p></a></li>
                </ul>
            </nav>

        </header>



        <div class="inhoud clearFix">

            <section class="balkLinks">
                <h1>balk links</h1>
            </section>
            
            <div class="container">
                <fieldset class="vast">
                    <h1>Venue Aanmaken</h1>
                        <form action="#" method="post" class="venueForm" id="venueData" name="venueData">
                            <div>
                                <label for="venueID">Event ID:</label>
                                <input type="number" id="venueID" name="venueID" title="venueID" placeholder="{{venue.venueID}}">
                            </div>
                            <div>
                                <label for="venueName" >Venue Name:</label>
                                <input type="text" id="venueName" name="venueName" title="venueName" placeholder="{{venue.venueName}}">
                            </div>
                            <div>
                                <label for="venueCity" >Venue City:</label>
                                <input type="text" id="venueCity" name="venueCity" title="venueCity" placeholder="{{venue.venueCity}}">
                            </div>
                            <div>
                                <label for="venueStreet" >Venue Street:</label>
                                <input type="text" id="venueStreet" name="venueStreet" title="venueStreet" placeholder="{{venue.venueStreet}}">
                            </div>
                            <div>
                                <label for="venueStreetNR" >Venue Street NR:</label>
                                <input type="number" id="venueStreetNR" name="venueStreetNR" title="venueStreetNR" placeholder="{{venue.venueStreetNR}}">
                            </div>
                            <div>
                                <label for="venueCapacity" >Venue Capacity:</label>
                                <input type="number" id="venueCapacity" name="venueCapacity" title="venueCapacity" placeholder="{{venue.venueCapacity}}">
                            </div>
                            <div>
                                <input type="submit" value="Add"/>
                                <input type="submit" value="Update"/>
                                <input type="submit" value="Delete"/>
                            </div>
                        </form>
                </fieldset>
            </div>

            <section class="balkRechts">
                <h1>BALK RECHTS</h1>
            </section>


        </div>

        <footer class="hoofdFooter">
            <p><span>This project is build by Jordi, Wouter, Gregory and Micha &COPY; 2016</span></p>
        </footer>
    </body>
</html>
{# empty Twig template #}
